<!DOCTYPE html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="autho" content="staraw">
  <meta name="description" content="世达奥科">
  <title>人人都爱小九九</title>
  <link rel="stylesheet" type="text/css" href="http://7lrzqf.com1.z0.glb.clouddn.com/css/animate.min.css">
  <link rel="stylesheet" href="./styles/app.css">
  
</head>

<body>
<!--[if lt IE 10]>
<p class="browserupgrade">您的浏览器已<strong>面临淘汰</strong>,到这里<a href="http://www.staraw.com/bye.html/">升级靠谱浏览器</a>提升安全及体验。</p>
<![endif]-->
  <app></app>    
<script type='text/javascript' src='http://libs.useso.com/js/jquery/2.1.1/jquery.min.js' charset='utf-8'></script>
<script src="js/bundle.js"></script>
</body>

</html>