@media (max-width: 768px) {
	.metro{
		.cell{
			overflow: hidden;
			padding: 2rem;
		}
	}
}

@media (min-width: 768px) {
	.metro{
		.cell{
			overflow: hidden;
			padding: 3.5rem;
		}
	}
}

.navbar-default {
    background-color: #fff;
}

.metro{
	background: #fff;
	border-radius: 2px;
	display: table;
	margin-bottom: 22px;
	overflow: hidden;
	position: relative;
	table-layout: fixed!important;
	width: 100%;
	color:#fff;
	cursor: pointer;
	&:hover .bg-icon{
		transform: scale(1.5) ;
		-webkit-transform: scale(1.5) ;
		-moz-transform: scale(1.5) ;
		-ms-transform: scale(1.5) ;
		-o-transform: scale(1.5) ;
		opacity: .7;
	}

	.bg-icon{
		bottom: 0;
		color: rgba(0,0,0,0.1);
		font-size: 6rem;
		line-height: 100px;
		height: 100px;
		position: absolute;
		right: 0;
		text-align: center;
		width: 1em;
		transition: all .5s ease;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;

	}
}


.jumbotron{
	margin-top: -20px;
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
	text-align: right;
	background:url(http://jzjtj.qiniudn.com/images/banner/banner-special2.jpg) no-repeat center 0;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color:#fff;
	h1{
		font-size: 3em;
	}
}
.mask{

	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHUlEQVQIW2NkYGD4D8SM6DRIAAQwJDFUwhRRUQcALRkSBISGlPAAAAAASUVORK5CYII=") repeat top left;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: .2;
	filter: alpha(opacity=20);
}
.form-control{
	border:1px solid #e1e6ef;
}
.card{
	background: white;
	position: relative;
	text-align: right;
	margin-bottom: 30px;
	height: 70px;
	border: 1px solid #e1e6ef;

	.card-icon{
		width: 100px;
		height: 68px;
		padding: 20px 0;
		text-align: center;
		margin-right: 10px;
		float: left;
		overflow: hidden;

		i{
			font-size: 2.2em;
			color:#fff;
		}
	}
}

.btn i {
	margin-top: 2px;
}
.btn-primary {
	color: white;
	background: #20a8d8;
	border: 1px solid #20a8d8;
}

.panel{
	border: 1px solid #e1e6ef;
}
.panel.panel-default .panel-heading {
    border-color: #e1e6ef;
    background: #fcfcfd;
}
.panel .panel-heading {
    line-height: 40px;
    padding: 0 15px;
    min-height: 40px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-color: #e1e6ef;
}
.panel .panel-heading h2 {
    float: left;
    padding: 10px 0px;
    margin: 0px 0px 0px 10px;
    color: #374767;
    font-size: 2rem;
}
.panel .panel-heading h2 i {
    color: #e1e6ef;
    padding: 12px 0px;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin: -10px 0px -10px -20px;
    font-size: 16px;
}